.App {
  text-align: center;
}
.blueGradientText {
  background: -webkit-linear-gradient(
    120deg,
    rgba(17, 24, 39, 1),
    rgb(36, 58, 105)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradientText {
  background: -webkit-linear-gradient(217deg, #43e97b 0%, #38f9d7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradientBorder {
  transition: all 1s;
  color: #FFFFFF;
  border: rgba(255, 255, 255, 0.05) solid 1px;
}
.gradientBorder:hover {
  color: #38f9d7;
  border: #38f9d7 solid 1px;
}
.smi {
  color: #38f9d7;
}

.image {
  filter: saturate(20%);
}
