.App {
  text-align: center;
}
.blueGradientText {
  background: -webkit-linear-gradient(
    240deg,
    rgba(17, 24, 39, 1),
    rgb(36, 58, 105)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradientText {
  background: -webkit-linear-gradient(217deg, #43e97b 0%, #38f9d7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradientBorder {
  transition: all 1s;
  color: #ffffff;
  border: rgba(255, 255, 255, 0.05) solid 1px;
}
.gradientBorder:hover {
  color: #38f9d7;
  border: #38f9d7 solid 1px;
}
.smi {
  color: #38f9d7;
}

.image {
  filter: saturate(20%);
}
.gradientBackground {
  background-image: linear-gradient(217deg, #43e97b 0%, #38f9d7 100%);
}
.gradientBackgroundEdited {
  background-image: linear-gradient(280deg, #43e9a9 0%, #38f9d7 100%);
}
.grayGradientBackground {
  background-image: linear-gradient(
    240deg,
    rgba(17, 24, 39, 1),
    rgb(36, 58, 105)
  );
}
@media (min-width: 1024px) {
  ::-webkit-scrollbar {
    width: 20px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(53, 53, 53);
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-image: linear-gradient(
      240deg,
      rgba(17, 24, 39, 1),
      rgb(36, 58, 105)
    );
    border-radius: 10px;
  }
}

.pulse {
  animation: pulse 10s ease-in-out infinite;
}
