.App {
  text-align: center;
}

.gradientText {
  background: -webkit-linear-gradient(217deg, #43e97b 0%, #38f9d7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradientBorder{
  transition: all 1s;
  color: rgba(107, 114, 128,1);
  border:rgba(0, 0, 0, .1)solid 1px;
}
.gradientBorder:hover{
  color:#38f9d7;
  border:#38f9d7 solid 1px ;
}
.smi{
  color:#38f9d7
}

.image{
  filter: saturate(20%);
}
