.App {
  text-align: center;
}

.gradientText {
  background: -webkit-linear-gradient(217deg, #43e97b 0%, #38f9d7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradientTextHover:hover {
  background: -webkit-linear-gradient(217deg, #43e97b 0%, #38f9d7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradientBorder{
  transition: all 1s;
  
}
.gradientBorder:hover{
  border:#38f9d7 solid 1px;
}
.smi{
  color:#38f9d7
}