html {
  scroll-behavior: smooth;
}
textarea {
  resize: none;
}
.App {
  text-align: center;
}
.blueGradientText {
  background: -webkit-linear-gradient(
    240deg,
    rgba(17, 24, 39, 1),
    rgb(36, 58, 105)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.blueGradientTextEdited {
  background: -webkit-linear-gradient(
    -240deg,
    rgba(31, 43, 70, 0.5),
    rgb(36, 58, 105)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradientText {
  background: -webkit-linear-gradient(217deg, #43e97b 0%, #38f9d7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradientBorder {
  transition: all 1s;
  color: rgba(255, 255, 255, 0.4);
  border: rgba(255, 255, 255, 0.05) solid 1px;
}
.gradientBorder:hover {
  color: #38f9d7;
  border: #38f9d7 solid 1px;
}
.gradientBorderResume {
  transition: all 0.6s;
  color: rgba(0, 0, 0, 0.6);
  background-image: linear-gradient(217deg, #43e97b 0%, #38f9d7 100%);
  border: rgba(255, 255, 255, 0.05) solid 1px;
}
.gradientBorderResume:hover {
  background-image: -webkit-linear-gradient(rgb(36, 58, 105), rgb(36, 58, 105));
  color: #38f9d7;
  border: #38f9d7 solid 1px;
}
.smi {
  color: #38f9d7;
}

.image {
  filter: saturate(20%);
  margin-top: -20px !important;
}
.gradientBackground {
  background-image: linear-gradient(217deg, #43e97b 0%, #38f9d7 100%);
}
.gradientBackgroundEdited {
  background-image: linear-gradient(280deg, #43e9a9 0%, #38f9d7 100%);
}
.grayGradientBackground {
  background-image: linear-gradient(
    100deg,
    rgba(17, 24, 39, 1),
    rgb(36, 58, 105)
  );
}
.grayGradientBackgroundEdited {
  background-image: linear-gradient(
    20deg,
    rgba(17, 24, 39, 1),
    rgb(36, 58, 105)
  );
}
html::-webkit-scrollbar {
  display: none !important;
}

@media (min-width: 600px) {
  .scroll::-webkit-scrollbar {
    width: 20px;
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(53, 53, 53);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background-image: linear-gradient(
      240deg,
      rgba(17, 24, 39, 1),
      rgb(36, 58, 105)
    );
    border-radius: 10px;
  }
}

.underlineGreen {
  box-shadow: inset 0 -0.3em 0 0 #38f9d7;
}

.downArrow {
  position: -webkit-sticky;
  position: sticky;
  top: 85vh;
  left: 190vh;
  z-index: 200;
}
.bounceLeft {
  animation: bounceLeft 1s infinite;
}

@keyframes bounceLeft {
  0%,
  100% {
    transform: translateX(-25%);
    animationtimingfunction: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateX(0);
    animationtimingfunction: cubic-bezier(0, 0, 0.2, 1);
  }
}
