@tailwind base;
@tailwind components;
@font-face {
  font-family: 'SFB';
  src: local('SFB'), url(./Fonts/SF-UI-Display-Black.otf)
}
@font-face {
  font-family: 'SFL';
  src: local('SFL'), url(./Fonts/SF-UI-Display-Ultralight.otf)
}
@tailwind utilities;
#root, #root > div {
  width:100%;
  margin: 0;
  padding: 0;
  background-color:rgba(17, 24, 39, 1);
}
* {
  margin: 0;
  padding: 0;
}
